body {
    font-family: 'Roboto';
}

.bg-navbar{
    background-color: #101410;
}

input[type=text] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=number] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=email] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=password] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=checkbox] {
    border: 1px solid #3E85E9;
}


input[type=file] {
    border: 1px solid #ADC52D;
    color: #ADC52D;
    border-radius: 7px;
}

.btn-outline-primary {
    border: 1px solid #3E85E9;
    color: #3E85E9;
}

.btn-outline-primary:hover {
    border: 1px solid #3E85E9;
    background-color: #3E85E9;
}

.btn-outline-primary:active {
    border: 1px solid #3E85E9;
}

.btn-outline-primary:checked {
    border: 1px solid #3E85E9;
    color: #3E85E9;
    background-color: #3E85E9;
}

.btnmerah {
    background-color: #3E85E9;
    border: 1px solid #3E85E9;
}

.btnmerah:hover {
    background-color: #5F9AED;
    border: 1px solid #5F9AED;
}

.btnmerah:active {
    background-color: #2b5da3;
    border: 1px solid #26518E;
}

.btndownload{
    background-color: #ADC52D;
    border: 1px solid #ADC52D;
}

.btndownload:hover{
    background-color: #bbcf51;
    border: 1px solid #bbcf51;
}

.btndownload:active{
    background-color: #798a1f;
    border: 1px solid #798a1f;
}

.btn-aksi {
    border-radius: 7px;
}

.btnedit {
    background-color: #3E85E9;
    border: 1px solid #3E85E9;
}

.btnedit:hover {
    background-color: #5F9AED;
    border: 1px solid #5F9AED;
}

.btnedit:active {
    background-color: #2b5da3;
    border: 1px solid #26518E;
}

.btnhapus {
    background-color: #DF2230;
    border: 1px solid #DF2230;
}

.btnhapus:hover {
    background-color: #E44853;
    border: 1px solid #E44853;
}

.btnhapus:active {
    background-color: #9C1822;
    border: 1px solid #88151D;
}

.tengah {
    margin: auto;
}

h2{
    color: #101410;
}

table{
    overflow-y: auto;
}

.middle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table-bordered{
    border: #868686;
}

.kecil {
    font-size: 14px;
}

.downloadtxt {
    font-size: smaller;
}

.center {
    width: 50%;
}

.line {
    border-left: 3px solid #ECECEC;
}