body {
    font-family: 'Roboto';
}

.bg-navbar{
    background-color: #101410;
}

input[type=text] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=number] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=email] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=password] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

.btn {
    background-color: #3E85E9;
    border: 1px solid #3E85E9;
}

.btn:hover {
    background-color: #5F9AED;
    border: 1px solid #5F9AED;
}

.btn:active {
    background-color: #2b5da3;
    border: 1px solid #2b5da3;
}

.tengah {
    margin: auto;
}

h2{
    color: #101410;
}