body {
    font-family: 'Roboto';
}

.bg-navbar{
    background-color: #101410;
}

input[type=text] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=number] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=email] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

input[type=password] {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

.btn-outline-primary {
    border: 1px solid #3E85E9;
    color: #3E85E9;
    border-radius: 7px;
}

.btn-outline-primary:hover {
    border: 1px solid #3E85E9;
    background-color: #3E85E9;
    border-radius: 7px;
}

.btn-outline-primary:active {
    border: 1px solid #3E85E9;
    border-radius: 7px;
}

.btn-outline-primary:checked {
    border: 1px solid #3E85E9;
    color: #3E85E9;
    background-color: #3E85E9;
    border-radius: 7px;
}

.tengah {
    margin: auto;
}

h2{
    color: #101410;
}